<div class="container">

  <div class="content">

  <button mat-button (click)="newService()" class="btn-new">Novo Serviço</button>

  <div class="table">
    <table mat-table class="table-content" [dataSource]="dataSource">
      <ng-container matColumnDef="service_id" class="table-tr">
        <th mat-header-cell *matHeaderCellDef class="table-th"> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.service_id}} </td>
      </ng-container>
    
      <ng-container matColumnDef="status" class="table-tr">
        <th mat-header-cell *matHeaderCellDef class="table-th"> STATUS </th>
        <td mat-cell *matCellDef="let element"> {{element.status.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="description" class="table-tr">
        <th mat-header-cell *matHeaderCellDef class="table-th"> DESCRIÇÃO </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef class="table-th"> DETALHES </th>
        <td mat-cell *matCellDef="let element">
          <a class="delete" (click)="findOne(element.service_id)">
            <span class="material-icons">info</span>
          </a>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30, 50]" showFirstLastButtons></mat-paginator>
  </div>
</div>
</div>