.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box{
    width: 50%;
    height: 100%;
}

@media  screen and (max-width: 700px) {
    .content{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .fade{
        height:0;
        width: 0;
    }

    .show{
        width: 90%;
        height: 100%;
        margin:10px 0;
    }
}