<div class="container">
  <div class="content">
    <form class="form mat-card" [formGroup]="form">
      <p>Novo Cliente</p>
      
      <mat-form-field class="form-field"  appearance="fill">
        <mat-label>Nome do Cliente</mat-label>
        <input 
          matInput 
          autocomplete="off"
          placeholder="Nome do cliente"
          formControlName="nome"
          />
          <!-- <mat-error class="field-error" *ngIf="form.controls.nome.errors?.['required']">Campo obrigatório</mat-error>
          <mat-error class="field-error" *ngIf="form.controls.nome.errors?.['minlength']">Informe um nome valido</mat-error> -->
        </mat-form-field>

    
      <mat-form-field class="form-field"  appearance="fill">
        <mat-label>CPF</mat-label>
        <input 
          matInput 
          type="number"
          autocomplete="off"
          placeholder="34587410235"
          formControlName="cpf"
          />
          <!-- <mat-error class="field-error" *ngIf="form.controls.cpf.errors?.['required']">Campo obrigatório</mat-error>
          <mat-error class="field-error" *ngIf="form.controls.cpf.errors?.['minlength']">Informe um cpf valido</mat-error> -->
      </mat-form-field>

      <mat-form-field class="form-field"  appearance="fill">
        <mat-label>Telefone</mat-label>
        <input 
          matInput 
          autocomplete="off"
          placeholder="(12) 93456-7890"
          formControlName="telefone"/>
      </mat-form-field>
      <div class="actions">
        <button 
          mat-button 
          class="save" 
          (click)="create()">Salvar
        </button>
        <button 
          mat-button 
          class="cancel" 
          (click)="cancelar()">Cancelar</button>
      </div>
  </form>
  </div>
</div>

