<app-header></app-header>

<div class="container">
  <div class="content">
    <form class="form mat-card" [formGroup]="form">
      <p>Novo Cliente</p>
      
      <mat-form-field class="form-field"  appearance="fill">
        <mat-label>Nome do Cliente</mat-label>
        <input 
          matInput 
          autocomplete="off"
          placeholder="Nome do cliente"
          formControlName="nome"
          >
          <mat-error *ngIf="form.get('nome').hasError('required')" class="field-error">Campo obrigatório</mat-error>
          <mat-error *ngIf="form.get('nome').hasError('minlength')" class="field-error">Nome deve ter mais e 5 caracteres</mat-error>
        </mat-form-field>

    
      <mat-form-field class="form-field"  appearance="fill">
        <mat-label>CPF</mat-label>
        <input  matInput type="text" autocomplete="off" placeholder="34587410235" formControlName="cpf" maxlength="11">
        <mat-error *ngIf="form.get('cpf').hasError('required')" class="field-error">Campo obrigatório</mat-error>
        <mat-error *ngIf="form.get('cpf').hasError('minlength')" class="field-error">Informe um cpf válido</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field"  appearance="fill">
        <mat-label>Telefone</mat-label>
        <input matInput  autocomplete="off"  placeholder="(12) 93456-7890" formControlName="telefone">
          <mat-error *ngIf="form.get('telefone').hasError('required')" class="field-error">Campo obrigatório</mat-error>
          <mat-error *ngIf="form.get('telefone').hasError('minlength')" class="field-error">Informe um telefone válido</mat-error>
      </mat-form-field>

      <div class="actions">
        <button 
          mat-button 
          [disabled]="!form.valid"
          class="save" 
          (click)="create()">Salvar
        </button>

        <button 
          mat-button 
          class="cancel" 
          (click)="cancelar()">Cancelar</button>
      </div>

  </form>
  </div>
</div>

<app-footer></app-footer>

