.container{
    margin: 20px 20px 0 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.content{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 10px 0 20px 0;
    padding: 20px 10px;
    background-color: #ffff;
}

.form p{
    font-size: 20px;
    font-weight: 500;
}

.form-field{
    width: 90%;
    margin: 10px 0 0 0;
}

.form-field input{
    margin-top: 10px;
    width: 100%;
    padding: 2px 6px;
    font-size: 16px;
    outline: none;
}

.actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    padding: 2px 0;
    margin-top: 10px;
}

.actions button{
    width: 120px;
    margin: 0 2px 0 2px;
}

.save{
    background-color: #058c42;
    color: #ffff;
}

.cancel{
    background-color: #e5383b;
    color: #ffff;
}

.field-error{
    font-size: 14px;
    margin-bottom:9px;
}

@media  screen and (max-width: 1000px) {
    .novo-form{
        width: 100%;
    }
}