<div class="container">
  <div class="content">
    <mat-card class="card-info">

      <div class="header">
        <div class="header-overlay"></div>

        <div class="wellcome">
          <div class="texts">
            <h3>Olá {{user?.user_name}}!</h3>
            <p>Este é o seu perfil, você pode ver seus dados e editar sua foto do perfil</p>
              <button mat-button (click)="selectPhoto()">Editar foto</button>
          </div>
        </div>

      </div>

      <div class="card-wrap">
        <div class="my-account mat-card">
          <div class="header-account">
            <p>Minha conta</p>
          </div>

          <div class="data">
            <p>Nome</p>
            <h2>{{user?.user_name}}</h2>
          </div>

          <div class="data">
            <p>Email</p>
            <h2>{{user?.email}}</h2>
          </div>
        </div>

        <div class="photo mat-card">
          <div class="photo-content" [style.background-image]="backgroundImg"></div>
          <p>Se juntou a comunidade em {{user?.creation_date | date: 'dd/MM/yyyy'}}</p>
        </div>
      </div>

    </mat-card>
  </div>
</div>