.header-container{
    background-color: #2A44AB;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 2rem;
    height: 70px;
    width: 100%;
}

.header-container span{
    text-align: center;
    cursor: pointer;
}

.rigth{
    display: flex;
    flex-direction: row;
}

.menu{
    display: none;
}

.rigth p{
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

@media  screen and (max-width: 1000px) {
    .left, .rigth{
        font-size:16px;
    }

    .rigth{
        display: none;
    }

    .menu{
        display: flex;
    }
}