<mat-toolbar color="primary" class="mat-elevation-z6">
    <span class="title">Services ON</span>
    <p routerLink="/portal/dashboard" class="desktop">Dashboard</p>
    <p routerLink="/portal/clientes" class="desktop">Clientes</p>
    <p routerLink="/portal/servicos" class="desktop">Serviços</p>
    <span class="example-spacer"></span>

    <button (click)="openBottomSheet()" class="mobile" mat-icon-button
    style="display: flex; justify-content: center; text-align: center">
        <mat-icon>menu</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="menu" class="desktop">
        <mat-icon>person</mat-icon>
    </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/portal/user">
        <mat-icon>person</mat-icon>
        <span>Meu Perfil</span>
    </button>
    <button mat-menu-item (click)="logOut()">
        <mat-icon>logout</mat-icon>
        <span>Sair</span>
    </button>
</mat-menu>

