<mat-toolbar class="header-container">

    <div class="left">
        <span (click)="home()">Services On</span>
    </div>

    <div class="rigth">
        <a href="#funcionalidade">Funcionalidades</a>
        <a href="#contato">Contato</a>
        <a href="#sobre">Sobre</a>
    </div>

    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="menu">
        <button mat-menu-item class="btn-menu">
            <a href="#funcionalidade">Funcionalidades</a>
        </button>
        <button mat-menu-item class="btn-menu">
            <a href="#contato">Contato</a>
        </button>
        <button mat-menu-item class="btn-menu">
            <a href="#sobre">Sobre</a>
        </button>
    </mat-menu>

</mat-toolbar>