<app-header></app-header>
<div class="novo-cliente-content">
  <h1>Atualizar Cliente {{cliente.id}} </h1>
  <div class="novo-cliente-container">
    <form class="novo-form">
      <mat-form-field class="novo-content">
        <mat-label>Nome do Cliente</mat-label>
        <input 
          matInput 
          name="nome"
          [(ngModel)]="cliente.nome">
      </mat-form-field>
    
      <mat-form-field class="novo-content">
        <mat-label>CPF</mat-label>
        <input 
          matInput 
          name="cpf"
          [(ngModel)]="cliente.cpf" >
      </mat-form-field>

      <mat-form-field class="novo-content">
        <mat-label>Telefone</mat-label>
        <input 
          matInput 
          name="telefone"
          [(ngModel)]="cliente.telefone" >
      </mat-form-field>

      <div class="botoes">
        <button mat-flat-button class="btn-salvar" (click)="editar()" >Salvar</button>
        <button mat-flat-button class="btn-cancelar"  (click)="cancelar()" >Cancelar</button>
      </div>
  </form>
  </div>
</div>
<app-footer></app-footer>

