.swal2-container {

  .swal2-actions{
    gap: 1rem;
    .swal__button {
      border-radius: 0.2rem;
      color: #fff;
      font-size: 14px;
      padding: 13px 20px;
      outline: none;
    }
    .swal__button__cancel {
      background-color: rgb(175, 73, 73);
    }
  
    .swal__button__confirm {
      background-color: rgb(54, 180, 54);
    }
  }
}
