@import './__global-variables.scss';
@import './__alert.scss';

.badge {
    border-radius: 0.4rem;
    padding: 2px 8px;
    font-size: 12px;
    font-weight: 500;
    background-color: #d5d5d5;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.badge-green {
     background-color: #e9f6eb;
     color: #54b05c;
 }

.badge-red {
     background-color: #f87786;
     color: #FFFFFF;
 }

.bg-white{
    background-color: #FFFFFF;
}


.table-content{
    width: 80%;
    align-items: center;
}


.mobile{
    display: none !important;
}

i{
    margin: 0 0.2rem;
    font-size: 1.3rem;
    cursor: pointer;
}

.i-delete{
    color: #f87786
}

.i-update{
    color: rgb(118, 143, 252)
}

.i-info{
    color: rgb(148, 220, 148)
}

.table-head {
    border-bottom: 3px solid transparent;
}

@media only screen and (max-width: 600px)  {
    .desktop{
        display: none;
    }

    .mobile{
        display: flex !important;
    }
}
