<div class="container">

  <div class="content">

    <div class="card-info">
      <p>Informações do serviço</p>

      <div class="main">

        <div class="name">
          <div class="status">
            <p>{{serviceModel.status.name}}</p>
          </div>
          <h2>{{serviceModel.description}}</h2>
        </div>

          <p>Cliente: {{serviceModel.client.name}}</p>
          <p>Valor: {{serviceModel.price | currency: 'R$' }}</p>
          <p>Data de abertura: {{serviceModel.opening_date | date}}</p>
          <p>Data de fechamento: {{serviceModel?.closing_date ? (serviceModel?.closing_date | date) : 'em aberto'}}</p>

      </div>

      <div class="actions">
        <button mat-button class="delete" (click)="delete()">Deletar</button>
        <button mat-button class="update" (click)="update()">
            Editar
        </button>
      </div>

    </div>
  </div>
</div>