<div class="container">
  <div class="content">
    <form class="form mat-card"  [formGroup]="form">

    <p>Novo Serviço</p>

      <mat-form-field class="form-field">
        <mat-label>Descrição</mat-label>
        <textarea
          matInput 
          #descricao
          minlength="10"
          maxlength="255"
          autocomplete="off"
          placeholder="Formatar notebook"
          formControlName="descricao"
          >
        </textarea>
        <mat-hint align="start">{{descricao.value?.length || 0}}/255</mat-hint>
        <mat-error *ngIf="form.get('descricao').hasError('required')" class="field-error">Campo obrigatório</mat-error>
        <mat-error *ngIf="form.get('descricao').hasError('minlength')" class="field-error">Descreva mais sobre o serviço</mat-error>
      </mat-form-field>
    
      <mat-form-field class="form-field">
        <mat-label>Valor</mat-label>
        <input 
          matInput 
          placeholder="20.00"
          autocomplete="off"
          formControlName="valor"
          >
          <mat-error *ngIf="form.get('valor').hasError('required')" class="field-error">Campo obrigatório</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Cliente</mat-label>
        <mat-select formControlName="cliente">
          <mat-option *ngFor="let cliente of listCliente" [value]="cliente">{{cliente.nome}}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('cliente').hasError('required')" class="field-error">Campo obrigatório</mat-error>
      </mat-form-field>

      <div class="actions">
        <button mat-button class="save" (click)="salvar()" [disabled]="!form.valid">Salvar</button>
        <button mat-button class="cancel" (click)="voltar()" >Voltar</button>
      </div>
  </form>
  </div>
</div>