<div class="container">
  <div class="content">
    <form class="form mat-card"  [formGroup]="form">

    <p>Novo Serviço</p>

      <mat-form-field class="form-field">
        <mat-label>Descrição</mat-label>
        <textarea
          matInput 
          autocomplete="off"
          placeholder="Formatar notebook"
          formControlName="descricao"
          >
        </textarea>
      </mat-form-field>
    
      <mat-form-field class="form-field">
        <mat-label>Valor</mat-label>
        <input 
          matInput 
          placeholder="20.00"
          autocomplete="off"
          formControlName="valor"
          >
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Cliente</mat-label>
        <mat-select formControlName="cliente">
          <mat-option *ngFor="let cli of listCliente" value="{{cli.id}}">{{cli.nome}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="actions">
        <button mat-button class="save" (click)="salvar()">Salvar</button>
        <button mat-button class="cancel" (click)="voltar()" >Voltar</button>
      </div>
  </form>
  </div>
</div>

