<app-header></app-header>

<div class="container">

  <div class="content">

    <form class="form mat-card" [formGroup]="form">

  <h1>Atualizar Cliente </h1>

      <mat-form-field class="form-field">
        <mat-label>Nome do Cliente</mat-label>
        <input 
          matInput 
          name="nome"
          formControlName="nome"
          >
      </mat-form-field>
    
      <mat-form-field class="form-field">
        <mat-label>CPF</mat-label>
        <input 
          matInput 
          name="cpf"
          formControlName="cpf"
          >
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Telefone</mat-label>
        <input 
          matInput 
          name="telefone"
          formControlName="telefone"
          >
      </mat-form-field>

      <div class="actions">
        <button mat-flat-button class="save" (click)="editar()" >Salvar</button>
        <button mat-flat-button class="cancel"  (click)="cancelar()" >Cancelar</button>
      </div>
  </form>
  </div>
</div>

<app-footer></app-footer>

