.container{
    margin: 20px 20px 0 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.content{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table button{ 
    background-color: #3a86ff;
    margin: 0 0 10px 0;
    transition: 400ms ease-in-out;
    color: #FFF;
}

.table{
    width: 100%;
}

.table th{
    font-weight: 500;
    font-size: 16px;
    background-color: rgb(126, 123, 123);
    text-align: center;
    color: white;
}

mat-paginator{
    background-color: #eee;
    margin-bottom: 20px;
}

.btn-new{
    align-self: flex-start;
    width: 120px;
    margin-bottom: 20px;
    background-color: #058c42;
    color: #fff;
}

.table td{
    text-align: center;
    background-color: #eee;
    color: black;
}

.acoes a{
    cursor: pointer;
    color: black;
}
.btn-new a{
    text-decoration: none;
    color: #ffff;
}

.btn-new{
    background-color: #673ab7;
    margin: 10px 0;
}
