<app-header></app-header>

<div class="container">

  <div class="content">

  <button mat-button (click)="novoCliente()" class="btn-new">Novo Cliente</button>

  <div class="table">
    <table mat-table class="table-content" [dataSource]="dataSource">
      <ng-container matColumnDef="id" class="table-tr">
        <th mat-header-cell *matHeaderCellDef class="table-th"> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <ng-container matColumnDef="nome" class="table-tr">
        <th mat-header-cell *matHeaderCellDef class="table-th"> NOME </th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
      </ng-container>
    
      <ng-container matColumnDef="cpf" class="table-tr">
        <th mat-header-cell *matHeaderCellDef class="table-th"> TELEFONE </th>
        <td mat-cell *matCellDef="let element"> {{element.telefone}} </td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef class="table-th"> DADOS </th>
        <td mat-cell *matCellDef="let element">
          <a class="delete" routerLink="/clientes/dados/{{element.id}}">
            <span class="material-icons">info</span>
          </a>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30, 50]" showFirstLastButtons></mat-paginator>
  </div>
</div>
</div>

<app-footer></app-footer>

  
