<app-header></app-header>
<div class="novo-cliente-content">
  <div class="novo-cliente-container">
    <p>Novo Cliente</p>
    <form class="novo-form">
      <mat-form-field class="novo-content">
        <mat-label>Nome do Cliente</mat-label>
        <input 
          required
          matInput 
          placeholder="Nome do cliente"
          name="nome"
          [(ngModel)]="cliente.nome"
          >
      </mat-form-field>
    
      <mat-form-field class="novo-content">
        <mat-label>CPF</mat-label>
        <input 
          required
          matInput 
          placeholder="34587410235"
          name="cpf"
          [(ngModel)]="cliente.cpf"
          >
      </mat-form-field>

      <mat-form-field class="novo-content">
        <mat-label>Telefone</mat-label>
        <input 
        required
          matInput 
          placeholder="(12) 93456-7890"
          name="telefone"
          [(ngModel)]="cliente.telefone"
          >
      </mat-form-field>

      <div class="botoes">
        <button mat-flat-button class="btn-salvar" (click)="novoCliente()">Salvar</button>
        <button mat-flat-button class="btn-cancelar" (click)="cancelar()">Cancelar</button>
      </div>
  </form>
  </div>
</div>
<app-footer></app-footer>

