.novo-cliente-content{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 20px 20px;
    height:100%;
}
.novo-cliente-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 100%;
}
.novo-form{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 20px 20px;

    width:50%;
}

.novo-content{
    width:100%;
}

.novo-content input, mat-label{
    color: black;
    font-size: 18px;
}

.botoes{
    display: flex;
}
.botoes button{
    padding: 10px 20px;
    background-color: #3a86ff;
    color: #fff;
    font-size: 16px;

    margin: 0 10px;
    width: 100px;
    text-align: center;
}

.botoes .btn-cancelar{
     background-color: #673ab7;
}

.botoes .btn-editar{
    background-color: #3a86ff;
}

.botoes .btn-editar a{
    text-decoration: none;
    color: #fff;
}

.botoes .btn-deletar{
    background-color: #880a0a;
}

@media  screen and (max-width: 1000px) {
    .novo-form{
        width: 100%;
    }
}