<app-header></app-header>

<div class="container">

  <div class="content">

    <form class="card-info">

      <div class="action-back">
        <i class="material-icons"
        (click)="back()"
        >arrow_back</i>
      </div>

      <p>Detalhes</p>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Descrição</mat-label>
        <input 
          matInput 
          name="descricao"
          disabled
          [(ngModel)]="servico.descricao">
      </mat-form-field>
    
      <mat-form-field class="form-field" appearance="fill" *ngIf="servico.cliente">
        <mat-label>Nome do Cliente</mat-label>
        <input 
          matInput 
          name="cliente"
          disabled
          [(ngModel)]="servico.cliente.nome">
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Status</mat-label>
        <input 
          matInput 
          name="status"
          disabled
          [(ngModel)]="servico.status" >
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Data de abertura</mat-label>
        <input 
          matInput 
          name="dataAbertura"
          disabled
          [(ngModel)]="servico.dataAbertura">
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill" *ngIf="servico.dataFechamento">
        <mat-label>Data de Fechamento</mat-label>
        <input 
          matInput 
          name="dataFechamento"
          disabled
          [(ngModel)]="servico.dataFechamento" >
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Valor total</mat-label>
        <input 
          matInput 
          name="valor"
          disabled
          [(ngModel)]="servico.valor" >
      </mat-form-field>


      <div class="actions">
        <button mat-button class="delete" (click)="delete()">Deletar</button>
        <button mat-button class="update" (click)="update()">
            Editar
        </button>
      </div>
  </form>
  </div>
</div>

<app-footer></app-footer>

