<div class="container">
  <div class="content">
    <form class="form mat-card" [formGroup]="form">

    <p>Novo Serviço</p>

      <mat-form-field class="form-field">
        <mat-label>Descrição</mat-label>
        <textarea
          matInput 
          #descricao
          minlength="10"
          maxlength="255"
          autocomplete="off"
          placeholder="Formatar notebook"
          formControlName="description"
          >
        </textarea>
        <mat-hint align="start">{{descricao.value?.length || 0}}/255</mat-hint>
        <mat-error *ngIf="form.get('description').hasError('required')" class="field-error">Campo obrigatório</mat-error>
        <mat-error *ngIf="form.get('description').hasError('minlength')" class="field-error">Descreva mais sobre o serviço</mat-error>
      </mat-form-field>
    
      <mat-form-field class="form-field">
        <mat-label>Valor R$</mat-label>
        <input 
          type="number"
          matInput 
          step="0.01"
          placeholder="20.00"
          autocomplete="off"
          formControlName="price"
          >
          <mat-error *ngIf="form.get('price').hasError('required')" class="field-error">Campo obrigatório</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Cliente</mat-label>
        <mat-select formControlName="client">
          <mat-option *ngFor="let client of clients" [value]="client">{{client.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('client').hasError('required')" class="field-error">Campo obrigatório</mat-error>
      </mat-form-field>

      <div class="actions">
        <button mat-button class="save" (click)="save()" [disabled]="!form.valid">Salvar</button>
        <button mat-button class="cancel" (click)="wayBack()">Cancelar</button>
      </div>
  </form>
  </div>
</div>