<div class="container">
    <div class="content">

        <div class="textos">
            <h3>Baixar ServiceOn para Android grátis</h3>
            <a href="../../../assets/base.apk" download="ServiceOn" class="mat-button">
                <button mat-button>Baixar aplicativo</button>
            </a>

            <button mat-button (click)="loginGo()" class="cancel">Cancelar</button>
        </div>
        
        <div class="img">
            <img src="../../../assets/app.svg" alt="">
        </div>

    </div>
    
</div>