<div class="container">

  <div class="content">

    <form class="form" [formGroup]="form">
      <h1>Atualizar serviço</h1>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Descrição</mat-label>
        <textarea 
          matInput 
          #descricao
          minlength="10"
          maxlength="255"
          autocomplete="off"
          formControlName="descricao"
          ></textarea>
        <mat-hint align="start">{{descricao.value?.length || 0}}/255</mat-hint>
        <mat-error *ngIf="form.get('descricao').hasError('required')" class="field-error">Campo obrigatório</mat-error>
        <mat-error *ngIf="form.get('descricao').hasError('minlength')" class="field-error">Descreva mais sobre o serviço</mat-error>
      </mat-form-field>
    
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let status of statusList" [value]="status">{{status.nome}}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('status').hasError('required')" class="field-error">Campo obrigatório</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Valor</mat-label>
        <input 
          matInput 
          name="valor"
          formControlName="valor"
          >
          <mat-error *ngIf="form.get('valor').hasError('required')" class="field-error">Campo obrigatório</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Data de abertura</mat-label>
        <input 
          matInput 
          name="data_abertura"
          formControlName="data_abertura"
        >
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Data de Fechamento</mat-label>
        <input 
          matInput 
          name="data_fechamento"
          formControlName="data_fechamento"
          >
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Cliente</mat-label>
        <mat-select formControlName="cliente">
          <mat-option *ngFor="let cliente of listCliente" [value]="cliente">{{cliente.nome}}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('cliente').hasError('required')" class="field-error">Campo obrigatório</mat-error>
      </mat-form-field>

      <div class="actions">
        <button mat-button class="save" (click)="editar()" [disabled]="!form.valid">
            Editar
        </button>
        <button mat-button class="cancel" (click)="voltar()">Voltar</button>
      </div>
  </form>
  </div>
</div>