.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  justify-content: center;
}

.dashboard {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.dashboard p {
  color: #012a4a;
  margin: 0;
  font-weight: 500;
  width: 50%;
  border-bottom: 1px solid #012a4a;
}

.main {
  width: 90%;
  height: 100%;
  display: flex;
  padding: 20px 40px;
}

.card {
  height: 20rem;
  width: 30rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  margin: 2rem;
  align-self: center;
}

.card .subtitle {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  color: #012a4a;
}

.card .title {
  width: 100%;
  height: 20%;
  font-size: 20px;
  align-items: flex-start;
  border-bottom: 1px solid #eee;
}

/* .card:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
} */

@media screen and (max-width: 800px) {
  .main {
    width: 90%;
    height: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
  }
}
