<div class="container">
    
    <div class="content">

        <mat-toolbar class="dashboard">
            <p>Dashboard</p>
        </mat-toolbar>

        <div class="main">
            <mat-card class="card">
                <mat-card-title class="title">Clientes</mat-card-title>
                <mat-card-subtitle class="subtitle">{{totalClientes}}</mat-card-subtitle>
            </mat-card>
            <mat-card class="card">
                <mat-card-title class="title">Serviços</mat-card-title>
                <mat-card-subtitle class="subtitle">{{totalServicos}}</mat-card-subtitle>
            </mat-card>
            <mat-card class="card">
                <mat-card-title class="title">Serviços abertos</mat-card-title>
                <mat-card-subtitle class="subtitle">{{totalServicosOpen}}</mat-card-subtitle>
            </mat-card>
            <mat-card class="card">
                <mat-card-title class="title">Serviços finalizados</mat-card-title>
                <mat-card-subtitle class="subtitle">{{totalServicosClose}}</mat-card-subtitle>
            </mat-card>
        </div>
    </div>
</div>