<!-- <app-header></app-header> -->
<div class="container">
    
    <div class="content">
        <div class="text">
            <h1>Sistema <br>de Ordem <br> de Serviço</h1>
            <p>Entenda como funciona na prática o <br> Produttivo e os benefícios do programa <br> de ordem de serviço para o seu negócio!</p>
            <button mat-button class="botao-comecar" (click)="clientes()">
                Começar
            </button>
        </div>
    </div>

    <div class="infomativos">
        <div class="info-text">
            <p id="funcionalidade">Funcionalidades</p>
        </div>
        <div class="cards">
            <mat-card class="info-card">
                <span class="material-icons">settings</span>
                <p class="title">Serviços</p>
                <p>Tenha o controle de seus servicços.</p>
            </mat-card>
            <mat-card class="info-card">
                <span class="material-icons">how_to_reg</span>
                <p class="title">Clientes</p>
                <p>Na Services ON você pode adicionar seus clientes..</p>
            </mat-card>
        </div>
       
    </div>

    <div class="paralax">
        <div class="overlay"></div>
        <div class="texts-paralax">
            <h2>Tudo isso de uma forma muito <br><mark>visual e fácil</mark> de preencher!</h2>
        </div>
    </div>
</div>

<app-footer></app-footer>