
<div class="container">
    <div class="content">
        <div class="text">
            <p class="text-title">Conheça a Services On.</p>
            <p>Plataforma para agendamento de serviços online.</p>
            <span>Organize seus serviços e clientes.</span>
                <button mat-raised-button class="botao-comecar" (click)="clientes()">
                    Começar
                </button>
        </div>
        <div class="img">
            <img src="assets/home.svg" alt="" srcset="">
        </div>
    </div>

    <div class="infomativos">
        <div class="info-text">
            <p>Funcionalidades</p>
        </div>
        <div class="cards">
            <mat-card class="info-card">
                <span class="material-icons">settings</span>
                <p class="title">Cadastro de serviços</p>
                <p>Adicionar, atualizar os serviços</p>
            </mat-card>
            <mat-card class="info-card">
                <span class="material-icons">how_to_reg</span>
                <p class="title">Cadastro de clientes</p>
                <p>Adicionar, atualizar e deletar seus clientes</p>
            </mat-card>
        </div>
       
    </div>
</div>


