.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    background-color: #2A44AB
}

.infos{
    width: 100%;
    height: 100%;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infos img{
    width: 60%;
}

.infos p{
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    margin: 10px 0 0 0;
}