<div class="container">

  <div class="content">

    <form class="form mat-card" [formGroup]="form">

  <h1>Atualizar Cliente </h1>

      <mat-form-field class="form-field">
        <mat-label>Nome do Cliente</mat-label>
        <input  matInput  name="name" formControlName="name">
        <mat-error *ngIf="form.get('name').hasError('required')" class="field-error">Campo obrigatório</mat-error>
        <mat-error *ngIf="form.get('name').hasError('minlength')" class="field-error">Nome deve ter mais e 5 caracteres</mat-error>
      </mat-form-field>
    
      <mat-form-field class="form-field">
        <mat-label>CPF</mat-label>
        <input  matInput name="cpf" formControlName="cpf" maxlength="11">
          <mat-error *ngIf="form.get('cpf').hasError('required')" class="field-error">Campo obrigatório</mat-error>
          <mat-error *ngIf="form.get('cpf').hasError('minlength')" class="field-error">Informe um cpf válido</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Telefone</mat-label>
        <input matInput  name="cell_phone"formControlName="cell_phone">
        <mat-error *ngIf="form.get('cell_phone').hasError('required')" class="field-error">Campo obrigatório</mat-error>
          <mat-error *ngIf="form.get('cell_phone').hasError('minlength')" class="field-error">Informe um telefone válido</mat-error>
      </mat-form-field>

      <div class="actions">
        <button mat-button class="save" [disabled]="!form.valid" (click)="update()" >Salvar</button>
        <button mat-button class="cancel"  (click)="cancel()" >Cancelar</button>
      </div>
  </form>
  </div>
</div>

