<div id="data">

  <div class="loading" *ngIf="loading">
    <div class="spinner"></div>
  </div>

  <div class="header" mat-dialog-title *ngIf="!loading">
    <h2 class="flex flex-auto">{{clientModel?.name}}</h2>

    <button mat-icon-button type="button" (click)="closeNavbar()">
      <i class="fas fa-times" style="font-size: 1rem"></i>
    </button>
  </div>

  <mat-dialog-content *ngIf="!loading" style="height: calc(100% - 96px);">
    <div class="box">
      <span>CPF</span>
      <p>{{clientModel?.cpf}}</p>
    </div>

    <div class="box">
      <span>CPF</span>
      <p>{{clientModel?.cell_phone}}</p>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions *ngIf="!loading" style="display: flex; justify-content: flex-end; box-sizing: border-box">
    <button mat-raised-button class="delete" (click)="delete()">Deletar</button>
    <button mat-raised-button class="update" (click)="update()">Editar</button>
  </mat-dialog-actions>

</div>






