<div class="container">

  <form class="form" [formGroup]="form">

    <div class="texts">
      <p>{{createAccountField ? 'Criar conta' : 'Login'}}</p>
      <h1>{{createAccountField ? 'Aproveite desse recurso gratuito' : 'Faça o login para acessar o sistema.'}}</h1>
    </div>

    <p>{{emailOrPassWrong}}</p>

    <div class="form-field" *ngIf="createAccountField">
      <label>Nome de usuário</label>
      <input formControlName="user_name" autocomplete="off" list="autocompleteOff">
    </div>

    <div class="form-field">
      <label>Email</label>
      <input formControlName="email" autocomplete="off" list="autocompleteOff">
    </div>

    <div class="form-field">
      <label>Senha</label>
      <input [type]="hide ? 'password' : 'text'" autocomplete="off" formControlName="password">
      <!-- <label for="searchBox" (click)="hide = !hide">
                <i [class]="hide ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
              </label> -->
    </div>

    <button mat-button (click)="login()" class="btn-login" *ngIf="!createAccountField">Login</button>
    <button mat-button (click)="saveUser()" class="btn-login" *ngIf="createAccountField">Criar conta</button>

    <div class="new-account">
      <h1 (click)="createAccount()">Novo usuário? <strong>Criar conta</strong></h1>
    </div>
  </form>
</div>