
<div class="container">

  <div class="content mat-elevation-z4 bg-white">

    <div class="pesquisa">

      <div class="pesquisa-content">

        <div class="pesquisa-header">
          <h1>Clientes</h1>
        </div>

        <div class="pesquisa-search">
          <button mat-fab (click)="functionOnPress()" class="btn-new mat-elevation-z2" matTooltip="{{buttonTooltip}}">
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="spinner" *ngIf="loading">
      <mat-spinner diameter="30"></mat-spinner>
    </div>

    <ng-content></ng-content>


    <mat-paginator *ngIf="!loading" showFirstLastButtons
                   [pageIndex]="pageIndex" [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions" [length]="totalElements"
                   (page)="ongetNext($event)">
    </mat-paginator>
</div>
</div>