
<div class="flex flex-col items-center justify-center w-full mt-2.5">

  <div class="w-4/5 flex flex-col rounded-[20px] mat-elevation-z4 bg-white py-8 items-center justify-center">

    <div class="w-11/12 flex flex-col items-center justify-center text-center bg-white mb-[1rem]">

      <div class="w-full flex py-[6px] px-[20px] items-center justify-between">

        <div class="w-1/2 pt-1 pl-[14px] pb-[14px] flex">
          <h1>{{ title }}</h1>
        </div>

        <div class="w-1/2 pt-1 pl-[14px] pb-[14px] flex items-center justify-end">
          <button mat-fab (click)="functionOnPress()" class="m-0 w-[40px] h-[40px] bg-[] mat-elevation-z2 text-white flex
          fex-col items-center justify-center" matTooltip="{{ buttonTooltip }}">
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="spinner" *ngIf="loading">
      <mat-spinner diameter="30"></mat-spinner>
    </div>

    <ng-content></ng-content>


    <mat-paginator *ngIf="!loading" showFirstLastButtons
                   [pageIndex]="pageIndex" [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions" [length]="totalElements"
                   (page)="ongetNext($event)">
    </mat-paginator>
</div>
</div>